#forums {
    width: 100%;
}
#forums ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#forums ul li {
    width: 100%;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}
#forums ul li .forumName {
    width: 30%;
    float: left;
    font-size: 22px;
}
#forums ul li a {
    text-decoration: none;
}
#forums ul li .topicCounter {
    width: 15%;
    float: left;
    font-size: 22px;
    text-align: center;
}
#forums ul li .lastAnswer {
    width: 55%;
    float: left;
    text-align: right;
    margin-bottom: 5px;
}
#forums ul li .lastAnswer .title {
    width: 100%;
    font-size: 22px;
    color: var(--textColor);
}
#forums ul li .lastAnswer .user {
    width: 100%;
    font-size: 14px;
    color: var(--textColor2);
}
#forums ul li #subForum {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    clear: both;
    display: table;
    content: "";
    border: 1px solid var(--shadow);
}
#forums ul li #subForum ul {
    list-style-type: none;
}
#forums ul li #subForum ul li {
    display: inline;
}
#forums ul li #subForum ul li .img {
    background-image: url('https://i.imgur.com/WExj1A5.gif');
    background-size: cover;
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 5px;
}
#forums ul li #subForum ul li .title {
    font-family: Roboto, sans-serif;
    font-weight: 800;
    font-size: 14px;
    float: left;
    margin-right: 20px;
}