#forums ul  {
    grid-template-columns: 33% 33% 33%;
    grid-auto-rows: 300px;
    display: grid;
    grid-gap: 10px;
    margin: 0;
    padding: 10px 0 10px 0;
    z-index: 2;
}
#forums ul li {
    list-style-type: none;
    display: grid;
    grid-row-gap: 20px;
    grid-template-rows: auto 18px 24px 34px 24px auto; /* Cantidad de minutos
                                                     Cantidad de posts + Último respondido
                                                     Nombre del foro
                                                     Subforos */
    position: relative;
    font-family: Roboto, sans-serif;
}
#forums ul li .bg {
    background: no-repeat center center;
    overflow: hidden;
    animation-name: bgZoom;
    animation-iteration-count: infinite;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
}
#forums ul li .minutes {
    font-size: 16px;
    grid-row: 2; /* 18px */
}
#forums ul li .quantity {
    font-size: 22px;
    grid-row: 3;
}
#forums ul li .quantity a, #forums ul li .subForums a {
    color: var(--linkColor2);
    text-decoration: none;
}
#forums ul li .quantity a:hover, #forums ul li .subForums a:hover {
    color: var(--linkHover2);
}
#forums ul li .forumName {
    font-size: 30px; /* Pongo un valor menor a 30px (fila del medio) para que no se corte la palabra */
    grid-row: 4; /* 34px */
}
#forums ul li .forumName a {
    color: var(--mainColor);
    text-shadow: 0 0 2px var(--mainColor);
    text-decoration: none;
}
#forums ul li .forumName a:hover {
    color: var(--linkHover2);
}
#forums ul li .subForums {
    font-size: 22px;
    grid-row: 5;
}
#forums ul li .minutes, #forums ul li .quantity, #forums ul li .forumName, #forums ul li .subForums {
    color: var(--mainColor);
    text-align: center;
    font-size: auto;
    z-index: 1;
}

/* Animación */
@keyframes bgZoom {
    0%  {background-size: 110%;filter: blur(3px) brightness(60%);}
    100%    {background-size: 150%;filter: blur(5px) brightness(60%);}
  }