#pivot {
    display: none;
}
#postUploader { /* Caja base */
    width: 100%;
    float: left;
    clear: both;
}
#postUploader #forum, #postUploader #subforum, #postUploader #image { /* Estilo que aplican a los inputs del creador de posts */
    width: calc( 33% - 10px );
    margin: 10px 10px 0 0;
    outline: none;
    border: 2px solid var(--linkColor2);
    background-color: var(--mainColor);
    color: var(--textColor);
    font-family: Roboto, sans-serif;
    font-weight: 700;
    padding: 5px;
    float: left;
}