#postImage {
    box-shadow: 0 0 3px var(--shadow);
    border-radius: 5px;
}
/* someData */
#someData {
    margin-top: 20px;
    grid-template-columns: 50% 50%;
    display: grid;
    width: 100%;
}
#someData #date, #someData #commentsCounter {
    grid-template-columns: 24px auto;
    display: grid;
    grid-gap: 10px;
}
#someData #date #clocksy, #someData #commentsCounter #chat {
    float: left;
    width: 24px;
    height: 24px;
    grid-column: 1;
    background-size: cover;
}
#someData #date .text, #someData #commentsCounter .text {
    grid-column: 2;
}
#comments, #points {
    width: 100%;
    padding: 0 10px 10px 10px;
    margin-bottom: 20px;
    content: "";
    clear: both;
}
#points {
    border: 1px solid var(--mainColor);
    box-shadow: 0 0 5px var(--shadow);
}
#points input[type=button] {
    background-image: url('img/post/clock.jpg');
    background-size: 100%;
    background-color: #fff;
    width: 32px;
    height: 32px;
    border: none;
    outline: none;
}
#points ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0 0 90px 0; /* 90px porque parece que la caja no se adapta a los <p> dentro de los <li> */
}
#points ul li {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    float: left;
}
#points ul li p {
    clear: both;
    text-align: center;
    line-height: 15px;
}