#profile {
    width: 100%;
    height: 100%;
}
#profile #main {
    width: 100%;
    float: left;
    clear: both;
    border: 1px solid;
    padding: 10px;
    margin: 10px auto 10px auto;
}
#profile #main .avatar {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background-size: cover;
    background-position: center;
    float: left;
    z-index: 1;
}
#profile #main .avatar .rank {
    width: 100%;
    text-align: center;
    background-color: #fff;
    opacity: 0.9;
    z-index: 2;
}
#main .userData, #main .social {
    float: left;
    margin-left: 20px;
    text-align: center;
}
#main .userData h1, #main .social h1 {
    padding: 0;
    margin: 0;
    font-size: 26px;
}
#main .social p {
    line-height: 17px;
    font-size: 16px;
    text-align: left;
}