/*p, h1, h2, h3, h4, h5, h6, em, pre, .forumName, .topicCounter, .lastAnswer, .lastAnswer .title, .lastAnswer .user, footer * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Roboto, sans-serif;
}*/