#subforums {
    width: 100%;
    float: left;
    clear: both;
}
#subforums ul {
    list-style-type: none;
}
#subforums ul li {
    display: inline;
    padding: 10px;
    margin-right: 10px;
    background-color: var(--linkColor);
    color: var(--mainColor);
}